[submodule "crates/physics/units"]
	path = crates/physics/units
	url = https://github.com/timjonaswechler/units.git
[submodule "crates/utilities/name_generator"]
	path = crates/utilities/name_generator
	url = https://github.com/timjonaswechler/name-generator-rs.git
