(
    name: "Teacup System",
    age: (6.0),
    roots: [
        /*[0]*/ (
            name: "Teacup A",
            kind: Star((
                mass: (0.7),
                radius: (0.66),
                temperature: (4500.0),
                luminosity: (0.15),
                spectral_type: K(5),
                luminosity_class: V,
            )),
            orbit: None,
            satellites: [
                /*[0]*/ (
                    name: "Teacup Ae",
                    kind: Planet((
                        body_type: SuperEarth,
                        mass: (0.8),
                        radius: (0.96),
                        active_core: (true),
                    )),
                    orbit: Some((
                        semi_major_axis: 0.45,
                        eccentricity: 0.1,
                        inclination: 0.0,
                        longitude_of_ascending_node: 0.0,
                        argument_of_periapsis: 2.79,
                        mean_anomaly_at_epoch: 2.09,
                    )),
                    satellites: [
                        /*[0]*/ (
                            name: "Teacup Ae II",
                            kind: Planet((
                                body_type: Rocky,
                                mass: (0.004),
                                radius: (0.18),
                                active_core: (false),
                            )),
                            orbit: Some((
                                semi_major_axis: 0.00167,
                                eccentricity: 0.01,
                                inclination: 0.087,
                                longitude_of_ascending_node: 0.0,
                                argument_of_periapsis: 0.0,
                                mean_anomaly_at_epoch: 0.0,
                            )),
                            satellites: [],
                        ),
                    ],
                ),
            ],
        ),
    ],
)